/* ****************************************************************** */
/* OSM BRIGHT for Imposm                                              */
/* ****************************************************************** */

Map {
  background-color: @water;
}

/* ================================================================== */
/* FONTS
/* ================================================================== */

/* set up font sets for various weights and styles */
@sans_lt:           "Open Sans Regular","DejaVu Sans Book","unifont Medium";
@sans_lt_italic:    "Open Sans Italic","DejaVu Sans Italic","unifont Medium";
@sans:              "Open Sans Semibold","DejaVu Sans Book","unifont Medium";
@sans_italic:       "Open Sans Semibold Italic","DejaVu Sans Italic","unifont Medium";
@sans_bold:         "Open Sans Bold","DejaVu Sans Bold","unifont Medium";
@sans_bold_italic:  "Open Sans Bold Italic","DejaVu Sans Bold Italic","unifont Medium";

/* ================================================================== */
/* BOUNDARY COLORS
/* ================================================================== */

@admin_2:           #324;


#braziloutline [zoom < 10] {
  polygon-fill: white;
    ::outline {
    line-color: darken(@water,25%);
    line-width: 0.2;
    line-join: round;
    }
}


#natural [zoom>=12]{
    [type='forest']        { polygon-fill: @wooded; }
    [type='park']          { polygon-fill: @park; }
    [type='water']   	   { polygon-fill: @water; }
    [type='riverbank'] 	   { polygon-fill: @water; }
}

//building icons
#buildings [zoom>=15] {
    [TYPE='church'], [TYPE='chapel'] {
    marker-file: url(religious-christian-12.svg);
    }
    [TYPE='university'] {
    marker-file: url(college-12.svg);
    }
    [TYPE='school'] {
    marker-file: url(school-18.svg); 
    }
    [TYPE='public'] {
    marker-file: url(town-hall-12.svg);
    }
}


#points [zoom>=15] {
  [type='hospital'] {
  marker-file: url(hospital-12.svg);
  marker-fill: red;
	}
  [type='bus_stop'] {
  marker-file: url(bus-12.svg);
	}
  [type='emergency_telephone'] {
  marker-file: url(telephone-12.svg);
	}
  [type='fuel'] {
  marker-file: url(fuel-12.svg);
	}
  [type='parking'] {
  marker-file: url(parking-12.svg);
	}
  [type='park'] {
  marker-file: url(park2-12.svg);
  	}
}
//consider adding icons for other types of buildings ‘yes’, 
//hangar, apartments, house 

// ==================================================================
// WATER AREAS
// ==================================================================

#waterlow
{
  [zoom>=5] [zoom<6] [AREA > 1000000000]
    {
    polygon-fill: @water;
    //::outline {
    //line-color: darken(@water,25%);
    //line-width: 0.2;
    //line-join: round;
    //  }
    }
}

#watermed
{
  [zoom>=6] [zoom<9] [AREA > 10000000]
    {
    polygon-fill: @water;
    //::outline {
    //line-color: darken(@water,25%);
    //line-width: 0.2;
    //line-join: round;
    //  
  }
}

#water
{
  [zoom>=9]
    {
    polygon-fill: @water;
    //::outline {
    //line-color: darken(@water,25%);
    //line-width: 0.2;
    //line-join: round;
    //  }
    }
  [zoom>=12]
    {
    polygon-fill: @water;
    //::outline {
    //line-color: darken(@water,25%);
    //line-width: 0.2;
    //line-join: round;
    //  
    }
}

// ==================================================================
// WATER WAYS
// ==================================================================

#waterwaylow[zoom>=8] {
  line-color: @water;
  line-width: 1.2;
  }

#waterwayhigh[zoom>=12]{
  line-color: @water;
  line-width: 2.0;
 //::outline {
    //line-color: darken(@water,25%);
    //line-width: 0.2;
    //line-join: round;
    //  }
}

#waterwaysnew [zoom>=8]{
  line-color: @water;
  line-width: 2.0;
}



// ---- Casing -----------------------------------------------

// ================================================================== */
// AEROWAYS
// ================================================================== */

#aeroway[zoom>6] {
    [TYPE='runway'] { 
    line-width: 3;
  	line-color:@aeroway;}
    [zoom>12][TYPE='taxiway'] {
    line-width: 2;
  line-color:@aeroway;
  }
}

/* ================================================================== */
/* PLACE NAMES
/* ================================================================== */

#place [zoom>10] {
    text-name:'[NAME]';
    text-placement: point;
    text-face-name:@sans_lt;
  	text-halo-fill: fadeout(white, 30%);
  	text-halo-radius: 2;
   } 

// ==================================================================
// ADMINISTRATIVE BOUNDARIES & LABELS
// ==================================================================

//National Border

#adminline [zoom>=4] {
  [ADMIN_LEVE="2"] {
  line-color:@admin_2;
  line-width:0.5;
  line-join: round;
    }
}

//Country Label

#place [zoom<=4]{
  [TYPE="country"]{
  text-name:'[NAME]';
  text-face-name:@sans_bold;
  text-placement:point;
  text-fill:@country_text;
  text-halo-fill: @country_halo;
  text-halo-radius: 1;
  text-size:24;
  text-wrap-width: 40;
	}
}

//Regions

#adminline [zoom>=5][zoom<6] {
  [ADMIN_LEVE="3"] {
  line-color:@admin_2;
  line-width:0.5;
  line-join: round;
   } 
} 

//States

#adminline [zoom>=5][zoom<7] {
  [ADMIN_LEVE="4"] {
  line-color:@admin_2;
  line-width:0.5;
  line-join: round;
    }
} 

//State names for zoom level 5

#place[TYPE="state"][zoom>=5][zoom<6]
{
  text-name:'[NAME]';
  text-face-name:@sans;
  text-placement:point;
  text-fill:@state_text;
  text-halo-fill: @state_halo;
  text-halo-radius: 1;
  text-size:12;
  text-wrap-width: 40;
  text-align:center;
  [NAME="Rondônia"] {
  text-dx:-0.6px;}
  [NAME="Santa Catarina"] {
  text-dy:-0.5px;}
  [NAME="Goiás"] {
  text-dy:18px;}
}

#place[TYPE="state"][zoom>=6][zoom<7]
{
  text-name:'[NAME]';
  text-face-name:@sans;
  text-placement:point;
  text-fill:@state_text;
  text-halo-fill: @state_halo;
  text-halo-radius: 1;
  text-size:15;
  text-wrap-width: 40;
  text-align:center;
  [NAME="Amapá"] {
  text-dy:10px;}
  [NAME="Pará"] {
  text-dy:18px;}
}

/*metropolitan areas look crowded
#adminline[ADMIN_LEVE="6"][zoom>=6][zoom<11] {
  line-color:@admin_2;
  line-width:6;
}

Info For Admin Levels: 4 is meso regions, 5 is metropolitan areas, 
6 is micro-regions, 7 is municipalities, 8 is districts, 
9 is suburbs and neighborhoods
info not needed for current map purpose as place layer includes this info

*/

#place [zoom>=8]
{
  [TYPE="city"] {
  text-name:'[NAME]';
  text-face-name:@sans_bold;
  text-placement:point;
  text-fill:@city_text;
  text-halo-fill: @city_halo;
  text-halo-radius: 2;
  text-size:12;
  }
}


#place [zoom>=6] [zoom < 11] [TYPE="city"] { 
  ['NAME'="São Paulo"] {
    marker-fill:#E65C5C;
    marker-width:5px;
  	marker-height:5px;
    text-name:'[NAME]';
    text-face-name:@sans_bold;
    text-fill:@city_text;
    text-halo-fill: @city_halo;
    text-halo-radius: 3;
    text-size:12;
    text-dx:7px;}
  ['NAME'="Rio de Janeiro"] {
    marker-fill:#E65C5C;
    marker-width:5px;
  	marker-height:5px;
    text-name:'[NAME]';
    text-face-name:@sans_bold;
    text-fill:@city_text;
    text-halo-fill: @city_halo;
    text-halo-radius: 3;
    text-size:12;
    text-dx:7px;}
  ['NAME'="Salvador"]{
    marker-fill:#E65C5C;
    marker-width:5px;
  	marker-height:5px;
    text-name:'[NAME]';
    text-face-name:@sans_bold;
    text-fill:@city_text;
    text-halo-fill: @city_halo;
    text-halo-radius: 3;
    text-size:12;
    text-dx:7px;}
   ['NAME'="Fortaleza"]{
    marker-fill:#E65C5C;
    marker-width:5px;
  	marker-height:5px;
    text-name:'[NAME]';
    text-face-name:@sans_bold;
    text-fill:@city_text;
    text-halo-fill: @city_halo;
    text-halo-radius: 3;
    text-size:12;
    text-dx:7px;}
   ['NAME'="Belo Horizonte"]{
    marker-fill:#E65C5C;
    marker-width:5px;
  	marker-height:5px;
    text-name:'[NAME]';
    text-face-name:@sans_bold;
    text-fill:@city_text;
    text-halo-fill: @city_halo;
    text-halo-radius: 3;
    text-size:12;
    text-dx:7px;}
   ['NAME'="Curitiba"]{
    marker-fill:#E65C5C;
    marker-width:5px;
  	marker-height:5px;
    text-name:'[NAME]';
    text-face-name:@sans_bold;
    text-fill:@city_text;
    text-halo-fill: @city_halo;
    text-halo-radius: 3;
    text-size:12;
    text-dx:7px;}
   ['NAME'="Recife"]{
    marker-fill:#E65C5C;
    marker-width:5px;
  	marker-height:5px;
    text-name:'[NAME]';
    text-face-name:@sans_bold;
    text-fill:@city_text;
    text-halo-fill: @city_halo;
    text-halo-radius: 3;
    text-size:12;
    text-dx:7px;}
   ['NAME'="Porto Alegre"]{
    marker-fill:#E65C5C;
    marker-width:5px;
  	marker-height:5px;
    text-name:'[NAME]';
    text-face-name:@sans_bold;
    text-fill:@city_text;
    text-halo-fill: @city_halo;
    text-halo-radius: 3;
    text-size:12;
    text-dx:7px;}
}

/* redundant with city names, appears twice 

#place[TYPE="suburb"][zoom>=9]
{
  text-name:'[NAME]';
  text-face-name:@sans_bold;
  text-placement:point;
  text-fill:@city_text;
  text-halo-fill: @city_text;
  text-halo-radius: 2;
  text-size:12;
  text-wrap-width: 40;
}
*/

#place[TYPE="town"][zoom>=10]
{
  text-name:'[NAME]';
  text-face-name:@sans_bold;
  text-placement:point;
  text-fill:@town_text;
  text-halo-fill: @town_halo;
  text-halo-radius: 2;
  text-size:12;
  text-wrap-width: 40;
}

#place[TYPE="village"][zoom>=10]
{
  text-name:'[NAME]';
  text-face-name:@sans_bold;
  text-placement:point;
  text-fill:@town_text;
  text-halo-fill: @town_halo;
  text-halo-radius: 2;
  text-size:12;
  text-wrap-width: 40;
}

#place[TYPE="hamlet"][zoom>=12]
{
  text-name:'[NAME]';
  text-face-name:@sans_bold;
  text-placement:point;
  text-fill:@town_text;
  text-halo-fill: @town_halo;
  text-halo-radius: 2;
  text-size:12;
  text-wrap-width: 40;
}

/* redudant with place names

adminpoly includes the following admin levels:
8 is districts, 9 is suburbs, 10, 4 is meso regions, 
7 is municipalities, 5 is metropolitan areas, 6 is micro-regions

#adminpoly [zoom > 10] {
  polygon-fill:white;
  polygon-opacity: 0;
  text-name: '[NAME]';
  text-face-name:@sans_bold;
  text-placement:point;
  text-fill:@town_text;
  text-halo-fill: @town_halo;
  text-halo-radius: 2;
  text-size:12;
  text-wrap-width: 40;
}
*/

// ==================================================================
// MISC LABELS FLOAT ON TOP
// ==================================================================

#waterwaysnewnames [zoom>=8]{
  text-name:'[name]';
  text-placement: line;
  text-face-name:@sans_lt;
  text-halo-fill: fadeout(white, 30%);
  text-halo-radius: 2;
  text-min-distance: 9px;
}

#naturalnames [zoom>=14]{
    text-name:'[name]';
    text-placement: point;
    [type='riverbank'] {
      text-placement: line;
   	}
    text-face-name:@sans_lt;
    text-halo-fill: fadeout(white, 30%);
    text-halo-radius: 2;
 }

#railways [zoom>=12]{
    text-name:'[name]';
    text-placement: line;
    text-face-name:@sans_lt;
    text-halo-fill: fadeout(white, 30%);
    text-halo-radius: 2;
 }

#roadsnew [zoom>=12]{
    text-name:'[name]';
    text-placement: line;
    text-face-name:@sans_lt;
    text-halo-fill: fadeout(white, 30%);
    text-halo-radius: 2; 
  	text-min-distance: 5;
 }

#buildingsnew [zoom>=15] {
  text-name:'[name]';
  text-placement: point;
  text-face-name:@sans_lt;
  text-halo-fill: fadeout(white, 30%);
  text-halo-radius: 2;
  [type='church'], [type='chapel'] {
    marker-file: url(religious-christian-12.svg); }
  [type='places_of_worship'] {
    marker-file: url(place-of-worship-12.svg); }
  [type='school'] {
    marker-file: url(school-12.svg); }
  [type='railway_station'], [type='train_station'] {
    marker-file: url(rail-12.svg); }
  [type='cathedral'] {
    marker-file: url(place-of-worship-12.svg); }
  [type='police'] {
    marker-file: url(police-12.svg); }
  [type='college'], [type='university'] {
    marker-file: url(college-12.svg); }
  [type='toilets'] {
    marker-file: url(toilets-12.svg); }
  [type='museum'] {
    marker-file: url(museum-12.svg); }
  [type='fuel'] {
    marker-file: url(fuel-12.svg); }
  [type='ferry_terminal'] {
    marker-file: url(ferry-12.svg); }
  [type='nightclub'] {
    marker-file: url(bar-12.svg); }
  [type='library'] {
    marker-file: url(library-12.svg); }
  [type='parking'] {
    marker-file: url(parking-12.svg); }
  [type='hospital'] {
    marker-file: url(hospital-12.svg); 
  	marker-fill: red;}
  //[type='apartments'] {
  //  marker-file: url(); }
  [type='public_building'], [type='public'] {
    marker-file: url(town-hall-12.svg); }
  [type='restaurant'] {
    marker-file: url(restaurant-12.svg); }
  [type='bicycle_parking'] {
    marker-file: url(bicycle-12.svg); }
  [type='hotel'] {
    marker-file: url(lodging-12.svg); }
  [type='commercial'] {
    marker-file: url(commercial-12.svg); }
  //[type='transportation'] {
  //  marker-file: url(); }
  [type='fast_food'] {
    marker-file: url(fast-food-12.svg); }
  [type='theatre'] {
    marker-file: url(theatre-12.svg); }
  [type='marketplace'], [type='supermarket'] {
    marker-file: url(grocery-12.svg); }
  //[type='attraction'] {
  // marker-file: url(); }
  [type='bus_station'] {
    marker-file: url(bus-12.svg); }
  [type='arts_centre'], [type='studio'] {
    marker-file: url(art-gallery-12.svg); }
  //[type='hangar'] {
  //  marker-file: url(); }
  //[type='station'] {
  //  marker-file: url(); }
  [type='industrial'] {
    marker-file: url(industrial-12.svg); }
}

#aerowayicons [zoom > 9] {
    marker-file: url(airport-12.svg); 
}